@use "functions" as *;

$fs-h1: clamped(23px, 28px);
$fs-h2: clamped(48px, 50px);
$fs-h3: clamped(18px, 23px);
$fs-header-subtitle: clamped(18px, 20px);
$fs-weather-desc: clamped(24px, 30px);
$fs-weather-min-max: clamped(20px, 24px);
$fs-accordion: clamped(18px, 21px);
$fs-input: clamped(18px, 25px);
