@use "functions" as *;
@use "variables" as *;

@mixin media-breakpoint-min($breakpoint-name) {
	$breakpoint-value: get-breakpoint($breakpoint-name);

	@media only screen and (min-width: $breakpoint-value) {
		@content;
	}
}

@mixin media-breakpoint-max($breakpoint-name) {
	$breakpoint-value: get-breakpoint($breakpoint-name);

	@media only screen and (max-width: $breakpoint-value) {
		@content;
	}
}

@mixin regular-text-shadow() {
	text-shadow: 0 2px 2px rgb(112 108 108 / 25%);
}

@mixin transition-bg-color() {
	transition: background-color 0.2s ease-in-out;
}

// accordion
@mixin display-header() {
	display: block;
}

@mixin accordion-item() {
	background: $bg-primary;
	border-top: $border-sm;

	&:last-child {
		border-radius: 0 0 10px 10px;
	}
}

@mixin accordion-list() {
	display: block;
	justify-content: initial;
	border-radius: 0;
	background: none;

	&:not(.accordion__list--show) {
		display: none;
	}

	&--transition {
		@include accordion-transition(height);

		height: 0;
		overflow: hidden;
	}
}

@mixin accordion-transition($property) {
	transition: #{$property} 0.35s ease;
}
