@use "../1-abstracts" as *;

.weather {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: to-rem(10px);
	margin-bottom: to-rem(30px);
	@include regular-text-shadow;

	&__icon {
		width: clamped(210px, 300px);
		height: auto;
	}

	&__temperature {
		margin-top: -10px;
	}

	&__description {
		font-family: "Open Sans", sans-serif;
		font-size: $fs-weather-desc;
		font-weight: 400;
	}

	&__min-max {
		font-family: "Open Sans", sans-serif;
		display: flex;
		gap: to-rem(20px);
		font-weight: 400;
		font-size: $fs-weather-min-max;
	}
}
